<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Nur im Debug-Build: Mess-Spike (Phase 1), per adb gestartet. -->
        <activity android:name=".spike.SpikeActivity" android:exported="true" />
        <activity android:name=".spike.SpikeEmbedActivity" android:exported="true" />
        <activity android:name=".spike.DebugImportActivity" android:exported="true" />
        <activity android:name=".spike.SpikeRetrievalActivity" android:exported="true" />
        <activity android:name=".spike.SpikeRagEvalActivity" android:exported="true" />
        <activity android:name=".spike.DebugCardsActivity" android:exported="true" />
        <activity android:name=".spike.DebugPomodoroActivity" android:exported="true" />
        <activity android:name=".spike.DebugSocraticActivity" android:exported="true" />
        <activity android:name=".spike.DebugClozeActivity" android:exported="true" />
        <activity android:name=".spike.DebugDupActivity" android:exported="true" />
        <activity android:name=".spike.DebugSummaryActivity" android:exported="true" />
        <activity android:name=".spike.DebugSimilarityActivity" android:exported="true" />
        <activity android:name=".spike.SpikeComboActivity" android:exported="true" />
    </application>
</manifest>
